<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Here we using feature of basic device hardware camera for android 09 and above -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Here we using two permissions of internet and camera for android 09 and above -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Here we using permission of reads external storage for android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Here we using permission of reads external storage for android 13 and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Here we using permission of reads external storage for android 15 and above -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" /> <!-- Here we using permission of alarm reminder for android 11 and above -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartStudentAssistant"
        tools:targetApi="31">

        <activity android:name=".onboardingsui.IntroActivity1"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity android:name=".onboardingsui.IntroActivity2"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity android:name=".onboardingsui.IntroActivity3"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".todotaskslists.TaskChange"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            />
        <activity
            android:name=".todotaskslists.TasksAdding"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".todotaskslists.TasksActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".booksearchings.BooksActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".notesdrivelink.NotesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            />
        <activity
            android:name=".gradesearching.GradesActivity"
            android:exported="false" />
        <activity android:name=".filesscannings.FilesScanner"
            android:exported="false"/>

        <activity android:name=".imagescontents.ContentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"/>
        <activity
            android:name=".StartingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- - Here we are making file provider for enabling uri support for images -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.smartstudentassistant.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>